{% extends "Base.twig" %}
{% import "Macros/Prettify.twig" as prettify %}
{% block header_add %}
    <link href="/css/prettify.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    <div class="hero-unit">
        <p>Be aware next version of php_riak (0.5.0) will have refactored API, same principles but following php best practices for package naming etc., this is a one time thing that has to be done before going into beta.</p>
    </div>
    {% spaceless %}
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Examples</li>
                {% for item in example_menu %}
                    {% if item.active %}
                        <li class="active"><a href="{{ item.href }}">{{ item.caption }}</a></li>
                    {% else %}
                        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
        {% block example_content %}{% endblock %}
    </div>
    {% endspaceless %}

<script src="/js/prettify/prettify.js" type="text/javascript"></script>
{{ prettify.prettify() }}
{% endblock %}